

<section class="about">
  <h1>About exam1</h1>
  <p>
     exam1はメッセージを投稿できるアプリです。<br>
  </p>
  
</section>
<section class="function">
  <div class="row">
  <h1>Function</h1>
    <div class="function-images">
      <div class="col-md-3 col-sm-6">
      <div class="function-image">
        <img src="<%= asset_path "toukou.png" %>">
        <p>メッセージ投稿画面</p>
      </div>
    </div>
     <div class="col-md-3 col-sm-6">
      <div class="function-image">
        <img src="<%= asset_path "hennsyuu.png" %>">
        <p>投稿編集機能</p>
      </div>
      </div>
      <div class="col-md-3 col-sm-6">
      <div class="function-image">
         <img src="<%= asset_path "sakuzyo.png" %>">
        <p>投稿削除機能</p>
      </div>
      </div>
      <div class="col-md-3 col-sm-6">
      <div class="function-image">
         <img src="<%= asset_path "itiran.png" %>">
        <p>投稿一覧画面</p>
         </div>
        </div>
      </div>
    </div>
</section>
